<div class='choose-weapon-modal'>
  <div class='modal-header'>
    <h3 ng-if='!probeResult'>{{ currentWeapon.name }} Parade --> {{currentWeapon.PA}}</h3>
    <h3 ng-if='!patzerWurf'>{{ probe }} + {{ mod }} = {{ probeResult }}</h3>
    <h3 ng-if='patzerWurf'>{{ patzerHeader }}</h3>
  </div>
  <div class='modal-body'>
    <div ng-if='!probeResult'>
      <div class='row'>
        <div class='col-xs-12'>
          <span class='currentWeaponFirst'>{{ currentWeapon.name }}</span>
        </div>
        <div class='row'>
          <div class='col-xs-5'>
            <span class='currentWeaponSecond'>Distanzklasse: {{currentWeapon.DK}}</span>
          </div>
          <div class='col-xs-7'>
            <span class='currentWeaponSecond'>Bruchfaktor: {{currentWeapon.BF}}</span>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-5'>
            <span class='currentWeaponSecond'>Initiative: {{currentWeapon.eINI}}</span>
          </div>
          <div class='col-xs-7'>
            <span class='currentWeaponSecond'>Behinderung: {{currentWeapon.eBE}}</span>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <span class='currentWeaponRangeThird'>Schaden: {{currentWeapon.damageFunc[0]}} W{{currentWeapon.damageFunc[1]}} + {{currentWeapon.damageFunc[2]}}</span>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12'>
          <form>
            <label>Probe erschwert/ erleichtert um: {{mod}}</label>
            <input ng-model='$parent.$parent.mod' style='color: black;'>
          </form>
        </div>
      </div>
    </div>
    <div ng-if='!patzerWurf'>
      <div class='row'>
        <div class='col-xs-12'>
          <span class='currentWeaponFirst'>{{probeResultString}}</span>
        </div>
      </div>
    </div>
    <div ng-if='patzerWurf'>
      <div class='row'>
        <div class='col-xs-12'>
          <span class='currentWaeponSecond'>{{patzerText}}</span>
        </div>
      </div>
    </div>
    <div ng-if='result'>
      <div class='row'>
        <div class='col-xs-12'>
          <span class='currentWeaponFirst'>Du machst {{result}} TP Schaden.</span>
        </div>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-primary' ng-click='ok()' ng-hide='!fail'>Ok</button>
    <button class='btn btn-primary' ng-click='wlPatzer()' ng-hide='!patzer'>Patzer auswürfeln!</button>
    <button class='btn btn-primary' ng-click='wlSchaden()' ng-hide='!success'>Schaden auswürfeln!</button>
    <button class='btn btn-primary' ng-click='wlParade()' ng-hide='probeResult'>Würfeln!</button>
    <button class='btn btn-warning' ng-click='cancel()' ng-hide='probeResult'>Abrechen</button>
  </div>
</div>
