<h2>Besitz</h2>
<div class='row'>
  <div class='col-sm-6'>
    <div class='weapon-box'>
      <h3>
        Waffen
      </h3>
      <div class='weapon-info'>
        <div class='row'>
          <div class='col-sm-8'>
            <small>Name</small>
          </div>
          <div class='col-sm-4'>
            <small>Stein</small>
          </div>
        </div>
        <div ng-class='{disabled: disabled}' ng-repeat='weapon in fkWeapons'>
          <div class='row'>
            <div class='col-sm-8'>
              {{weapon.name}}
            </div>
            <div class='col-sm-4'>
              <small>{{weapon.weight}}</small>
            </div>
          </div>
        </div>
        <div ng-class='{disabled: disabled}' ng-repeat='weapon in nkWeapons'>
          <div class='row'>
            <div class='col-sm-8'>
              {{weapon.name}}
            </div>
            <div class='col-sm-4'>
              <small>{{weapon.weight}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='weapon-box'>
      <h3>
        Rüstung
        <small>gesammt: {{armory.overall}}</small>
      </h3>
      <div class='weapon-info'>
        <div class='row'>
          <div class='col-sm-5'>
            <small>Name</small>
          </div>
          <div class='col-sm-3'>
            <small>Stein</small>
          </div>
          <div class='col-sm-2'>
            <small>RS</small>
          </div>
          <div class='col-sm-2'>
            <small>BE</small>
          </div>
        </div>
        <div ng-repeat='armor in armory.components'>
          <div class='row'>
            <div class='col-sm-5'>
              {{armor.name}}
            </div>
            <div class='col-sm-3'>
              <small>{{armor.weight}}</small>
            </div>
            <div class='col-sm-2'>
              <small>{{armor.value}}</small>
            </div>
            <div class='col-sm-2'>
              <small>{{armor.handicap}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8'>
    <div class='weapon-box'>
      <h3>
        Ausrüstung
        <small>
          getragen
        </small>
      </h3>
      <div class='weapon-info'>
        <div class='row'>
          <div class='col-sm-7'>
            <small>Name</small>
          </div>
          <div class='col-sm-1'>
            <small>Stein</small>
          </div>
          <div class='col-sm-1'>
            <small>Anz.</small>
          </div>
          <div class='col-sm-3'>
            <small>Type</small>
          </div>
        </div>
        <div ng-repeat='stuff in stuffBaggage'>
          <div class='row'>
            <div class='col-sm-7'>
              {{stuff.name}}
            </div>
            <div class='col-sm-1'>
              <small>{{stuff.weight}}</small>
            </div>
            <div class='col-sm-1'>
              <small>{{stuff.amount}}</small>
            </div>
            <div class='col-sm-3'>
              <small>{{stuff.type}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='weapon-box'>
      <h3>
        Geld
      </h3>
      <div class='weapon-info'>
        <div ng-repeat='(couns, value) in money'>
          <div class='row'>
            <div class='col-sm-6'>
              {{couns}}
            </div>
            <div class='col-sm-6'>
              {{value}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
