%h2 
  Kampf
  %small Runde {{service.round}}

.row
  .col-sm-3
    .weapon-box
      %h3
        .row
          .col-sm-4
            %button.btn.weapon{"ng-click" => "iniSetup()", "ng-if" => "!service.ini.checked"} ?
            %span{"ng-if" => "service.ini.checked"} {{service.ini.currentValue}}
          .col-sm-8
            %small
              Initiative
        / .row
        /   .col-sm-12
        /     %h3{"ng-class" => "{disabled: disabled}"}
        /       %small Waffen wählen
        /     %button.btn.weapon{"ng-class" => "{disabled: disabled}", "ng-repeat" => "weapon in fkWeapons", "ng-click" => "openWeapon(weapon)"} {{weapon.name}}
        /     %button.btn.weapon{"ng-class" => "{disabled: disabled}", "ng-repeat" => "weapon in nkWeapons", "ng-click" => "openWeapon(weapon)"} {{weapon.name}}
        /     %button.btn.weapon{"ng-class" => "{disabled: disabled}", "ng-repeat" => "weapon in wlWeapons", "ng-click" => "openWeapon(weapon)"} {{weapon.name}}

  .col-sm-6
    .weapon-box
      %h3
        .row
          .col-sm-2
            {{service.actions.attack}}
          .col-sm-4
            %small
              Angriff
          .col-sm-6
            %button.btn.weapon{"ng-click" => "chooseAttack()"} 2x Angriff
        .row
          .col-sm-2
            {{service.actions.parade}}
          .col-sm-4
            %small
              Parade
          .col-sm-6
            %button.btn.weapon{"ng-click" => "chooseParade()"} 2x Parade

  .col-sm-3
    .weapon-box
      %button.btn.weapon{"ng-class" => "{disabled: !service.ini.checked}", "ng-click" => "goToFight()"} 
        %h3
          %i.glyphicon.glyphicon-chevron-right
        %p nächste Runde