.weapon-box{"ng-if" => "!roll"}
  %h3 
    Fernkampf Probe 
    %small {{weaponChoosed.FK}} 
  .weapon-info
    .row
      .col-sm-2
        Entf: 
      .col-sm-2
        .option{"ng-click" => "chooseRange(1)", "ng-class" => "{active: range === 1}"} {{weaponChoosed.range[0]}}  
      .col-sm-2
        .option{"ng-click" => "chooseRange(2)", "ng-class" => "{active: range === 2}"} {{weaponChoosed.range[1]}}
      .col-sm-2
        .option{"ng-click" => "chooseRange(3)", "ng-class" => "{active: range === 3}"} {{weaponChoosed.range[2]}}
      .col-sm-2
        .option{"ng-click" => "chooseRange(4)", "ng-class" => "{active: range === 4}"} {{weaponChoosed.range[3]}}
      .col-sm-2
        .option{"ng-click" => "chooseRange(5)", "ng-class" => "{active: range === 5}"} {{weaponChoosed.range[4]}}
    .row
      .col-sm-2
        Größe: 
      .col-sm-2
        .option{"ng-click" => "chooseSize(1)", "ng-class" => "{active: size === 1}"} XS  
      .col-sm-2
        .option{"ng-click" => "chooseSize(2)", "ng-class" => "{active: size === 2}"} S
      .col-sm-2
        .option{"ng-click" => "chooseSize(3)", "ng-class" => "{active: size === 3}"} M
      .col-sm-2
        .option{"ng-click" => "chooseSize(4)", "ng-class" => "{active: size === 4}"} L
      .col-sm-2
        .option{"ng-click" => "chooseSize(5)", "ng-class" => "{active: size === 5}"} XL
    .row
      .col-sm-2 
        Bewg: 
      .col-sm-2
        .option{"ng-click" => "chooseMove(1)", "ng-class" => "{active: move === 1}"} ausw. 
      .col-sm-2
        .option{"ng-click" => "chooseMove(2)", "ng-class" => "{active: move === 2}"} bewegt.
      .col-sm-2
        .option{"ng-click" => "chooseMove(3)", "ng-class" => "{active: move === 3}"} leicht
      .col-sm-4
        .option{"ng-click" => "chooseMove(4)", "ng-class" => "{active: move === 4}"} steht
    .row
      .col-sm-6
        %span{"ng-if" => "buff >= 0"} erschert um
        %span{"ng-if" => "buff < 0"} erleichtert um
      .col-sm-2
        {{buff}}
      .col-sm-2
        %button.btn.weapon{"ng-click" => "buffMinus()"} -
      .col-sm-2
        %button.btn.weapon{"ng-click" => "buffPlus()"} +
    .row
      .col-sm-12
        %button.btn.weapon{"ng-click" => "fkTest()"} 
          Würfeln
          %small gelungen bei {{weaponChoosed.FK - buff}}

.weapon-box{"ng-if" => "roll && !damage"}
  %h3
    {{string}} 
    %small{"ng-if" => "!secondRoll"} {{weaponChoosed.FK - result}} 
    %small{"ng-if" => "secondRoll && !patzerText"} Wurf: {{roll}} 
    %small{"ng-if" => "patzerText"} {{patzerRoll}}
  .weapon-info{"ng-if" => "!secondRoll"}
    .row
      .col-sm-4
        Wurf 
      .col-sm-4
        Erschwernis 
      .col-sm-4
        Ergebnis
    .row
      .col-sm-2
        {{roll}}
      .col-sm-2
        %span +
      .col-sm-2
        {{buff}}
      .col-sm-2
        %span =  
      .col-sm-4
        {{result}}
    .row
      .col-sm-12
        %button.btn.weapon{"ng-click" => "fkDamage()", "ng-if" => "hit"}
          Schaden auswürfeln
        %button.btn.weapon{"ng-click" => "Ok()", "ng-if" => "fail"}
          Ok

  .weapon-info{"ng-if" => "secondRoll && !patzerRoll"}
    .row
      .col-sm-6
        1. Wurf
      .col-sm-6
        {{roll}}
    .row
      .col-sm-4
        Bestätigung 
      .col-sm-4
        Erschwernis 
      .col-sm-4
        Ergebnis
    .row
      .col-sm-2
        {{secondRoll}}
      .col-sm-2
        %span +
      .col-sm-2
        {{buff}}
      .col-sm-2
        %span =  
      .col-sm-4
        {{result}}
    .row
      .col-sm-12
        %button.btn.weapon{"ng-click" => "fkDamage()", "ng-if" => "hit"}
          Schaden auswürfeln
        %button.btn.weapon{"ng-click" => "Ok()", "ng-if" => "fail"}
          Ok
        %button.btn.weapon{"ng-click" => "patzerTest()", "ng-if" => "patzer"}
          Patzer auswürfeln

  .weapon-info{"ng-if" => "patzerRoll"}
    .weapon-info
      .row
        .col-sm-12
          {{patzerText}}
      .row
        .col-sm-12
          %button.btn.weapon{"ng-click" => "Ok()", "ng-if" => "patzerRoll < 11"}
            Ok
          %button.btn.weapon{"ng-click" => "fkDamage()", "ng-if" => "patzerRoll >= 11"}
            Schaden auswürfeln

.weapon-box{"ng-if" => "damage"}
  %h3 
    {{damage}} Schaden
    %small{"ng-if" => "!meister"} {{weaponChoosed.damageFunc[0]}} W{{weaponChoosed.damageFunc[1]}} + {{weaponChoosed.damageFunc[2]}} + {{rangeDamage}}
    %small{"ng-if" => "meister"} ({{weaponChoosed.damageFunc[0]}} W{{weaponChoosed.damageFunc[1]}} + {{weaponChoosed.damageFunc[2]}} + {{rangeDamage}}) x 2
  .weapon-info
    .row
      .col-sm-12
        %button.btn.weapon{"ng-click" => "Ok()"}
          Ok
