.logo
  %i.glyphicon.glyphicon-fire
  %h2 
    iHero
    %small tablet rpg
/ %progressbar{"value" => "lepCent", "type" => "danger"}
/ %progressbar{"value" => "80"}
%button.btn{"ng-click" => "goToProfile()"} Profil
%button.btn{"ng-click" => "goToTalents()"} Talente
%button.btn{"ng-click" => "goToFight()"} Kampf
%button.btn{"ng-click" => "goToBagage()"} Besitz
%button.btn{"ng-click" => "goToSpells()"} Zauber
%button.btn ...
