<div class='logo'>
  <i class='glyphicon glyphicon-fire'></i>
  <h2>
    iHero
    <small>tablet rpg</small>
  </h2>
</div>
<!-- %progressbar{"value" => "lepCent", "type" => "danger"} -->
<!-- %progressbar{"value" => "80"} -->
<button class='btn' ng-click='goToProfile()'>Profil</button>
<button class='btn' ng-click='goToTalents()'>Talente</button>
<button class='btn' ng-click='goToFight()'>Kampf</button>
<button class='btn' ng-click='goToBagage()'>Besitz</button>
<button class='btn' ng-click='goToSpells()'>Zauber</button>
<button class='btn'>...</button>
