.logo
  %i.glyphicon.glyphicon-fire
  %h2 
    iHero
    %small tablet rpg
%button.btn{"ng-click" => "goToProfile()"} Profil
%button.btn{"ng-click" => "goToTalents()"} Talente
%button.btn{"ng-click" => "goToFight()"} Kampf
%button.btn ...
