.weapon-box{"ng-if" => "weaponChoosed.DK == 'FK'"}
  %h3 
    {{weaponChoosed.name}} 
    %small {{weaponChoosed.DK}} 
  .weapon-info
    .row
      .col-sm-2
        FK: 
      .col-sm-4 
        {{weaponChoosed.FK}}
      .col-sm-2
        TP: 
      .col-sm-4 
        {{weaponChoosed.damageFunc[0]}} W{{weaponChoosed.damageFunc[1]}} + {{weaponChoosed.damageFunc[2]}}
    .row
      .col-sm-2
        eBE: 
      .col-sm-4 
        {{weaponChoosed.eBE}}
      .col-sm-2
        Pf: 
      .col-sm-4 
        {{weaponChoosed.arrows}}
    .row
      .col-sm-2
        Entf: 
      .col-sm-2
        {{weaponChoosed.range[0]}}
      .col-sm-2
        {{weaponChoosed.range[1]}}
      .col-sm-2
        {{weaponChoosed.range[2]}}
      .col-sm-2
        {{weaponChoosed.range[3]}}
      .col-sm-2
        {{weaponChoosed.range[4]}}
    .row
      .col-sm-2
        +TP: 
      .col-sm-2
        {{weaponChoosed.rangeDamage[0]}}
      .col-sm-2
        {{weaponChoosed.rangeDamage[1]}}
      .col-sm-2
        {{weaponChoosed.rangeDamage[2]}}
      .col-sm-2
        {{weaponChoosed.rangeDamage[3]}}
      .col-sm-2
        {{weaponChoosed.rangeDamage[4]}}

    .row
      .col-sm-12
        %button.btn.weapon{"ng-click" => "fkShut()"} Schießen

.weapon-box{"ng-if" => "weaponChoosed.BF"}
  .weapon-info
    Attacke: {{weaponChoosed.AT}}
.weapon-box{"ng-if" => "weaponChoosed.weaponType == 'Waffenloser Kampf'"}
  .weapon-info
    Attacke: {{weaponChoosed.AT}}
