%form{role: "form"}
  .col-xs-12
    .form-group
      %label.control-label{style: "color: white;"} Name
      %input.form-control{type: "text", placeholder: "Welchen Namen trägst du?"}
  .col-xs-6
    .form-group
      %label.control-label{style: "color: white;"} Rasse
      %input.form-control{type: "text", placeholder: "Welcher Rasse gehörst du an?"}
  .col-xs-6
    .form-group
      %label.control-label{style: "color: white;"} Klasse
      %input.form-control{type: "text", placeholder: "Welche Klasse "}
  .col-xs-12
    .form-group
      %label.control-label{style: "color: white;"} Profession
      %input.form-control{type: "text", placeholder: "deine Profession"}
  .col-xs-6
    .form-group
      %label.control-label{style: "color: white;"} Alter
      %input.form-control{type: "text", placeholder: "dein Alter"}
  .col-xs-6
    .form-group
      %label.control-label{style: "color: white;"} geboren am
      %input.form-control{type: "text", placeholder: "geboren am"}
  .col-xs-6
    .form-group
      %label.control-label{style: "color: white;"} Größe
      %input.form-control{type: "text", placeholder: "deine Klasse"}
  .col-xs-6
    .form-group
      %label.control-label{style: "color: white;"} Gewicht
      %input.form-control{type: "text", placeholder: "deine Profession"}